// Layout
/* topbar-height = 60px
bottombar-height = 50px
leftbar-width = 230px
leftbar-width-collapsed = 65px
summarySheet-max-width = 450px */

// Colors
$app-blue = #B8E6FF
$app-darkblue= #003366
$app-green =  #3db792
$app-yellow = #e67e22
$app-orange = #D59146
$app-grey =#40434B
$app-darkred="#990000"



// New colors
$app-manilla = #ffe489
$app-salmon = #ff7c69


